
@{
    ViewBag.Title = "ListaSolicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Items
    </h1>
</section>

<!-- Main content -->
<section class="content">

    <p>
    </p>

    <!-- begin panel -->
    <div class="box">
        <div class="box-body no-padding">
            <div class="btn-group">
                <button id="butNuevo" class="btn btn-primary btn-xs btn-flat">
                    <i class="fa fa-plus"></i>  Nuevo
                </button>
            </div>
            <table id="tabSolicitud" class="table table-striped hover compact">
                <thead>
                    <tr>
                        <th>
                            Año
                        </th>
                        <th>
                            Número
                        </th>
                        <th>
                            Observacion
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>
                            Solicitado
                        </th>
                        <th>
                            Aprobado
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
    <!-- end panel -->



</section>

@section scripts {
    <!-- DataTables -->
    @*<script src=@Url.Content("/Content/bower_components/datatables.net/js/jquery.dataTables.min.js")></script>
        <script src=@Url.Content("/Content/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js")></script>*@

    <script type="text/javascript" src=@Url.Content("/Scripts/App/ListaSolicitud.js")></script>
    <script type="text/javascript">


        $(document).ready(function () {
            ListaSolicitud.init();
        });


    </script>
}



