@model Proveduria.Models.EPRTA_CIERRE_INVENTARIO
@{
                /**/

                ViewBag.Title = "CierreInventario";
                Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Corte de inventario
    </h1>
</section>

<!-- Main content -->
<section class="content">

    <p>
    </p>

    <!-- begin panel -->
    <div class="box  box-primary">
        <div class="box-body ">
            <div class="row">
                <form id="frmCierre" class="form-horizontal" data-parsley-validate>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Fecha Cierre :</label>
                            <div class="col-sm-7">
                                <label class="form-control" id="FECHA_CIERRE">@(Model.FECHA_CIERRE.HasValue ? Model.FECHA_CIERRE.Value.ToString("dd/MM/yyyy") : null)</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Creado por:</label>
                            <div class="col-sm-7">
                                <label class="form-control" id="USUARIO_CIERRE">@(Model.USUARIO_CIERRE)</label>
                            </div>
                        </div>
                     </div>
                </form>
            </div>
        </div>
        <div class="box-footer">
            @{ if (Model.ID_CIERRE == 0 )
                {
                    <button type="button" id="btnGenerar" class="btn btn-primary btn-sm btn-flat">Generar</button>
                }
            }
            <button type="button" id="btnCancelar" class="btn btn-default btn-sm btn-flat">Cancelar</button>
            <button type="button" id="btnImprimir" class="btn btn-default btn-sm btn-flat">Imprimir</button>
        </div>

    </div>

    <div class="box box-default">
        <div class="box-header">
            <h2 class="box-title">Detalle de corte</h2>
        </div>
        <div class="box-body no-padding ">
            <div class="row">
                <div class="col-sm-12">
                    <table id="tabItems" class="table table-striped hover compact">
                        <thead>
                            <tr>
                                <th width="85px">Codigo</th>
                                <th>Item</th>
                                <th width="50px" style="text-align:right">Stock</th>
                                <th width="80px">Costo</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- end panel -->


</section>



@section scripts {
    <!-- DataTables -->
    @*<script src=@Url.Content("/Content/bower_components/datatables.net/js/jquery.dataTables.min.js")></script>
        <script src=@Url.Content("/Content/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js")></script>*@

    <script type="text/javascript" src=@Url.Content("/Scripts/App/CierreInventario.js")></script>
    @*@Scripts.Render("~/bundles/Movimiento")
    @Scripts.Render("~/bundles/Enumeradores")*@

    <script type="text/javascript">

         @{ 
            var tmp = (from p in Model.EPRTA_CIERRE_INVENTARIO_DET
                       select new
                       {
                           CODIGO = p.EPRTA_ITEM.CODIGO,
                           ITEM = p.EPRTA_ITEM.DESCRIPCION,
                           p.CANTIDAD_ACTUAL,
                           p.COSTO_PROMEDIO,
                           p.TOTAL_STOCK
                       });
        }

        var items = @Html.Raw(Json.Encode(tmp));
        
        $(document).ready(function () {
            CierreInventario.init();
        });



    </script>
}



