@{
    ViewBag.Title = "Punto de Re-Orden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Movimiento bodega
    </h1>

</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-sm-12">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">Filtros</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-horizontal form-ajust">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="FechaInicio">
                                            Fecha movimiento :
                                        </label>
                                        <div class="col-sm-3">
                                            <input id="txtFechaInicio" name="txtFechaInicio" class="form-control" placeholder="Inicio" />
                                        </div>
                                        <div class="col-sm-3">
                                            <input id="txtFechaFin" name="txtFechaFin" class="form-control" placeholder="Fin" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-horizontal form-ajust">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="CodigoMovimiento">
                                            Movimiento
                                        </label>
                                        <div class="col-sm-3">
                                            <input id="txtAnioMovimiento" name="txtAnioMovimiento" class="form-control" placeholder="Año" />
                                        </div>
                                        <div class="col-sm-3">
                                            <input id="txtNumeroMovimiento" name="txtNumeroMovimiento" class="form-control" placeholder="Número" />
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-horizontal form-ajust">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="IdItem">
                                            Item :
                                        </label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="sltItem" name="sltItem" style="width:100%"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-horizontal form-ajust">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="NumeroIngresoEgreso">
                                            Tipo Movimiento :
                                        </label>
                                        <div class="col-sm-6">
                                            @Html.DropDownList("selIdTipoMovimiento", new SelectList(ViewBag.ltipo_movimiento, "Value", "Text"))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button id="btnConsult" type="button" class="btn btn-default btn-sm btn-flat" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Consultando...">
                        <i class="fa fa-search-plus" aria-hidden="true"></i>   Consultar
                    </button>

                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-body no-padding">
            <table id="tabMovimiento" class="table table-striped hover compact">
                <thead>
                    <tr>
                        <th>Año</th>
                        <th>Nro.Movimiento</th>
                        <th>Tipo movimiento</th>
                        <th>Item</th>
                        <th>Cant.Movim.</th>
                        <th>CostoMovim.</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</section>

@section scripts {
    <script type="text/javascript" src=@Url.Content("/Scripts/App/MovimientoBodega.js")></script>
    <script type="text/javascript">

        $(document).ready(function () {
            MovimientoBodega.init();
        });
    </script>
}



