@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section styles {

}




<div class="row">
</div>


@section scripts {
    <script>
    $(document).ready(function(){
	});
    </script>
}